.text-white-scss {
   color: white;
}

.text-center-scss {
   text-align: center;
}

.ant-layout-header {
   position: relative;
   height: fit-content;
   padding: 35px 50px;
}

.ant-layout-header .ant-col-14 {
   text-align: center;
}


.ant-layout-header .dropdown-toggle::after {
   display: none;
}

.ant-row.ant-row-space-between.ant-row-middle {
   transform: translateY(-25%);
}
