.ant-form {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ant-form-item {
	margin-bottom: 44px;
}

.ant-form-item-control-input-content {
	display: flex;
	justify-content: space-between;
}